body {
  overflow-x: hidden;
  background-color: rgb(230, 230, 230) !important;
  width: 100vw;
  height: 100%;
}

.content {
  padding-top: 5em;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 270px;
  overflow-x: hidden;
  height: 100%;
  width: auto;
  background-color: rgb(230, 230, 230);
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 8px;
  }
}
