.section {
  /*min-width: 602px;*/
  padding: 1rem;
  border: 1px solid blue;
}

.dashboard {
  padding: 1rem;
  border: 1px solid blue;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 8px;
  }
}
